<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bootdo.system.dao.AddressDao">

	<select id="get" resultType="com.bootdo.system.domain.AddressDO">
		select `address_id`,`user_id`,`user_name`,`phone`,`type`,`longitude`,`latitude`,`province`,`city`,`district`,`street`,`street_number`,`address_name`,`address_detail`,`door`,`detault`,`addtime`,`enable` from sys_address where address_id = #{value}
	</select>

	<select id="list" resultType="com.bootdo.system.domain.AddressDO">
		select `address_id`,`user_id`,`user_name`,`phone`,`type`,`longitude`,`latitude`,`province`,`city`,`district`,`street`,`street_number`,`address_name`,`address_detail`,`door`,`detault`,`addtime`,`enable` from sys_address
        <where>  
		  		  <if test="addressId != null and addressId != ''"> and address_id = #{addressId} </if>
		  		  <if test="userId != null and userId != ''"> and user_id = #{userId} </if>
		  		  <if test="userName != null and userName != ''"> and user_name = #{userName} </if>
		  		  <if test="phone != null and phone != ''"> and phone = #{phone} </if>
		  		  <if test="type != null and type != ''"> and type = #{type} </if>
		  		  <if test="longitude != null and longitude != ''"> and longitude = #{longitude} </if>
		  		  <if test="latitude != null and latitude != ''"> and latitude = #{latitude} </if>
		  		  
		  		  <if test="minlat != null and minlat != ''"> and latitude &gt;= #{minlat} </if>
		  		  <if test="maxlat != null and maxlat != ''"> and latitude &lt;= #{maxlat} </if>
		  		  <if test="minlng != null and minlng != ''"> and longitude &gt;= #{minlng} </if>
		  		  <if test="maxlng != null and maxlng != ''"> and longitude &lt;= #{maxlng} </if>
		  		  
		  		  
		  		  <if test="province != null and province != ''"> and province = #{province} </if>
		  		  <if test="city != null and city != ''"> and city = #{city} </if>
		  		  <if test="district != null and district != ''"> and district = #{district} </if>
		  		  <if test="street != null and street != ''"> and street = #{street} </if>
		  		  <if test="streetNumber != null and streetNumber != ''"> and street_number = #{streetNumber} </if>
		  		  <if test="addressName != null and addressName != ''"> and address_name = #{addressName} </if>
		  		  <if test="addressDetail != null and addressDetail != ''"> and address_detail = #{addressDetail} </if>
		  		  <if test="door != null and door != ''"> and door = #{door} </if>
		  		  <if test="detault != null and detault != ''"> and detault = #{detault} </if>
		  		  <if test="addtime != null and addtime != ''"> and addtime = #{addtime} </if>
		  		  <if test="enable != null and enable != ''"> and enable = #{enable} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by address_id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from sys_address
		 <where>  
		  		  <if test="addressId != null and addressId != ''"> and address_id = #{addressId} </if>
		  		  <if test="userId != null and userId != ''"> and user_id = #{userId} </if>
		  		  <if test="userName != null and userName != ''"> and user_name = #{userName} </if>
		  		  <if test="phone != null and phone != ''"> and phone = #{phone} </if>
		  		  <if test="type != null and type != ''"> and type = #{type} </if>
		  		  <if test="longitude != null and longitude != ''"> and longitude = #{longitude} </if>
		  		  <if test="latitude != null and latitude != ''"> and latitude = #{latitude} </if>
		  		  <if test="province != null and province != ''"> and province = #{province} </if>
		  		  <if test="city != null and city != ''"> and city = #{city} </if>
		  		  <if test="district != null and district != ''"> and district = #{district} </if>
		  		  <if test="street != null and street != ''"> and street = #{street} </if>
		  		  <if test="streetNumber != null and streetNumber != ''"> and street_number = #{streetNumber} </if>
		  		  <if test="addressName != null and addressName != ''"> and address_name = #{addressName} </if>
		  		  <if test="addressDetail != null and addressDetail != ''"> and address_detail = #{addressDetail} </if>
		  		  <if test="door != null and door != ''"> and door = #{door} </if>
		  		  <if test="detault != null and detault != ''"> and detault = #{detault} </if>
		  		  <if test="addtime != null and addtime != ''"> and addtime = #{addtime} </if>
		  		  <if test="enable != null and enable != ''"> and enable = #{enable} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.bootdo.system.domain.AddressDO" useGeneratedKeys="true" keyProperty="addressId">
		insert into sys_address
		(
			`user_id`, 
			`user_name`, 
			`phone`, 
			`type`, 
			`longitude`, 
			`latitude`, 
			`province`, 
			`city`, 
			`district`, 
			`street`, 
			`street_number`, 
			`address_name`, 
			`address_detail`, 
			`door`, 
			`detault`, 
			`addtime`, 
			`enable`
		)
		values
		(
			#{userId}, 
			#{userName}, 
			#{phone}, 
			#{type}, 
			#{longitude}, 
			#{latitude}, 
			#{province}, 
			#{city}, 
			#{district}, 
			#{street}, 
			#{streetNumber}, 
			#{addressName}, 
			#{addressDetail}, 
			#{door}, 
			#{detault}, 
			#{addtime}, 
			#{enable}
		)
	</insert>
	 
	<update id="update" parameterType="com.bootdo.system.domain.AddressDO">
		update sys_address 
		<set>
			<if test="userId != null">`user_id` = #{userId}, </if>
			<if test="userName != null">`user_name` = #{userName}, </if>
			<if test="phone != null">`phone` = #{phone}, </if>
			<if test="type != null">`type` = #{type}, </if>
			<if test="longitude != null">`longitude` = #{longitude}, </if>
			<if test="latitude != null">`latitude` = #{latitude}, </if>
			<if test="province != null">`province` = #{province}, </if>
			<if test="city != null">`city` = #{city}, </if>
			<if test="district != null">`district` = #{district}, </if>
			<if test="street != null">`street` = #{street}, </if>
			<if test="streetNumber != null">`street_number` = #{streetNumber}, </if>
			<if test="addressName != null">`address_name` = #{addressName}, </if>
			<if test="addressDetail != null">`address_detail` = #{addressDetail}, </if>
			<if test="door != null">`door` = #{door}, </if>
			<if test="detault != null">`detault` = #{detault}, </if>
			<if test="addtime != null">`addtime` = #{addtime}, </if>
			<if test="enable != null">`enable` = #{enable}</if>
		</set>
		where address_id = #{addressId}
	</update>
	
	<delete id="remove">
		delete from sys_address where address_id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from sys_address where address_id in 
		<foreach item="addressId" collection="array" open="(" separator="," close=")">
			#{addressId}
		</foreach>
	</delete>

</mapper>