<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bootdo.system.dao.ApitokenDao">

	<select id="get" resultType="com.bootdo.system.domain.ApitokenDO">
		select `token_id`,`open_id`,`user_id`,`login_time`,`logout_time`,`status`,`device_id`,`enable` from sys_apitoken where token_id = #{value}
	</select>

	<select id="list" resultType="com.bootdo.system.domain.ApitokenDO">
		select `token_id`,`open_id`,`user_id`,`login_time`,`logout_time`,`status`,`device_id`,`enable` from sys_apitoken
        <where>  
		  		  <if test="tokenId != null and tokenId != ''"> and token_id = #{tokenId} </if>
		  		  <if test="openId != null and openId != ''"> and open_id = #{openId} </if>
		  		  <if test="userId != null and userId != ''"> and user_id = #{userId} </if>
		  		  <if test="loginTime != null and loginTime != ''"> and login_time = #{loginTime} </if>
		  		  <if test="logoutTime != null and logoutTime != ''"> and logout_time = #{logoutTime} </if>
		  		  <if test="status != null and status != ''"> and status = #{status} </if>
		  		  <if test="deviceId != null and deviceId != ''"> and device_id = #{deviceId} </if>
		  		  <if test="enable != null and enable != ''"> and enable = #{enable} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by token_id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from sys_apitoken
		 <where>  
		  		  <if test="tokenId != null and tokenId != ''"> and token_id = #{tokenId} </if>
		  		  <if test="openId != null and openId != ''"> and open_id = #{openId} </if>
		  		  <if test="userId != null and userId != ''"> and user_id = #{userId} </if>
		  		  <if test="loginTime != null and loginTime != ''"> and login_time = #{loginTime} </if>
		  		  <if test="logoutTime != null and logoutTime != ''"> and logout_time = #{logoutTime} </if>
		  		  <if test="status != null and status != ''"> and status = #{status} </if>
		  		  <if test="deviceId != null and deviceId != ''"> and device_id = #{deviceId} </if>
		  		  <if test="enable != null and enable != ''"> and enable = #{enable} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.bootdo.system.domain.ApitokenDO">
		insert into sys_apitoken
		(
			`token_id`, 
			`open_id`, 
			`user_id`, 
			`login_time`, 
			`logout_time`, 
			`status`, 
			`device_id`, 
			`enable`
		)
		values
		(
			#{tokenId}, 
			#{openId}, 
			#{userId}, 
			#{loginTime}, 
			#{logoutTime}, 
			#{status}, 
			#{deviceId}, 
			#{enable}
		)
	</insert>
	 
	<update id="update" parameterType="com.bootdo.system.domain.ApitokenDO">
		update sys_apitoken 
		<set>
			<if test="openId != null">`open_id` = #{openId}, </if>
			<if test="userId != null">`user_id` = #{userId}, </if>
			<if test="loginTime != null">`login_time` = #{loginTime}, </if>
			<if test="logoutTime != null">`logout_time` = #{logoutTime}, </if>
			<if test="status != null">`status` = #{status}, </if>
			<if test="deviceId != null">`device_id` = #{deviceId}, </if>
			<if test="enable != null">`enable` = #{enable}</if>
		</set>
		where token_id = #{tokenId}
	</update>
	
	<delete id="remove">
		delete from sys_apitoken where token_id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from sys_apitoken where token_id in 
		<foreach item="tokenId" collection="array" open="(" separator="," close=")">
			#{tokenId}
		</foreach>
	</delete>

</mapper>