<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bootdo.system.dao.OrderDao">

	<select id="get" resultType="com.bootdo.system.domain.OrderDO">
		select `order_id`,`subject_id`,`subject`,`learn_user`,`teacher_user`,`grade`,`start`,`end`,`address`,`address_id`,`address_x`,`address_y`,`price`,`learn_time`,`message`,`evaluate`,`type`,`status`,`addtime`,`enable` from sys_order where order_id = #{value}
	</select>

	<select id="list" resultType="com.bootdo.system.domain.OrderDO">
		select `order_id`,`subject_id`,`subject`,`learn_user`,`teacher_user`,`grade`,`start`,`end`,`address`,`address_id`,`address_x`,`address_y`,`price`,`learn_time`,`message`,`evaluate`,`type`,`status`,`addtime`,`enable` from sys_order
        <where>  
		  		  <if test="orderId != null and orderId != ''"> and order_id = #{orderId} </if>
		  		  <if test="subjectId != null and subjectId != ''"> and subject_id = #{subjectId} </if>
		  		  <if test="subject != null and subject != ''"> and subject = #{subject} </if>
		  		  <if test="learnUser != null and learnUser != ''"> and learn_user = #{learnUser} </if>
		  		  <if test="teacherUser != null and teacherUser != ''"> and teacher_user = #{teacherUser} </if>
		  		  <if test="grade != null and grade != ''"> and grade = #{grade} </if>
		  		  <if test="start != null and start != ''"> and start = #{start} </if>
		  		  <if test="end != null and end != ''"> and end = #{end} </if>
		  		  <if test="address != null and address != ''"> and address = #{address} </if>
		  		  <if test="addressId != null and addressId != ''"> and address_id = #{addressId} </if>
		  		  <if test="addressX != null and addressX != ''"> and address_x = #{addressX} </if>
		  		  <if test="addressY != null and addressY != ''"> and address_y = #{addressY} </if>
		  		  
		  		  <if test="minlat != null and minlat != ''"> and address_y &gt;= #{minlat} </if>
		  		  <if test="maxlat != null and maxlat != ''"> and address_y &lt;= #{maxlat} </if>
		  		  <if test="minlng != null and minlng != ''"> and address_x &gt;= #{minlng} </if>
		  		  <if test="maxlng != null and maxlng != ''"> and address_x &lt;= #{maxlng} </if>
		  		  
		  		  <if test="price != null and price != ''"> and price = #{price} </if>
		  		  <if test="learnTime != null and learnTime != ''"> and learn_time = #{learnTime} </if>
		  		  <if test="message != null and message != ''"> and message = #{message} </if>
		  		  <if test="evaluate != null and evaluate != ''"> and evaluate = #{evaluate} </if>
		  		  <if test="type != null and type != ''"> and type = #{type} </if>
		  		  <if test="status != null and status != ''"> and status = #{status} </if>
		  		  <if test="addtime != null and addtime != ''"> and addtime = #{addtime} </if>
		  		  <if test="enable != null and enable != ''"> and enable = #{enable} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by order_id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from sys_order
		 <where>  
		  		  <if test="orderId != null and orderId != ''"> and order_id = #{orderId} </if>
		  		  <if test="subjectId != null and subjectId != ''"> and subject_id = #{subjectId} </if>
		  		  <if test="subject != null and subject != ''"> and subject = #{subject} </if>
		  		  <if test="learnUser != null and learnUser != ''"> and learn_user = #{learnUser} </if>
		  		  <if test="teacherUser != null and teacherUser != ''"> and teacher_user = #{teacherUser} </if>
		  		  <if test="grade != null and grade != ''"> and grade = #{grade} </if>
		  		  <if test="start != null and start != ''"> and start = #{start} </if>
		  		  <if test="end != null and end != ''"> and end = #{end} </if>
		  		  <if test="address != null and address != ''"> and address = #{address} </if>
		  		  <if test="addressId != null and addressId != ''"> and address_id = #{addressId} </if>
		  		  <if test="addressX != null and addressX != ''"> and address_x = #{addressX} </if>
		  		  <if test="addressY != null and addressY != ''"> and address_y = #{addressY} </if>
		  		  
		  		  <if test="minlat != null and minlat != ''"> and address_y &gt;= #{minlat} </if>
		  		  <if test="maxlat != null and maxlat != ''"> and address_y &lt;= #{maxlat} </if>
		  		  <if test="minlng != null and minlng != ''"> and address_x &gt;= #{minlng} </if>
		  		  <if test="maxlng != null and maxlng != ''"> and address_x &lt;= #{maxlng} </if>
		  		  
		  		  <if test="price != null and price != ''"> and price = #{price} </if>
		  		  <if test="learnTime != null and learnTime != ''"> and learn_time = #{learnTime} </if>
		  		  <if test="message != null and message != ''"> and message = #{message} </if>
		  		  <if test="evaluate != null and evaluate != ''"> and evaluate = #{evaluate} </if>
		  		  <if test="type != null and type != ''"> and type = #{type} </if>
		  		  <if test="status != null and status != ''"> and status = #{status} </if>
		  		  <if test="addtime != null and addtime != ''"> and addtime = #{addtime} </if>
		  		  <if test="enable != null and enable != ''"> and enable = #{enable} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.bootdo.system.domain.OrderDO" useGeneratedKeys="true" keyProperty="orderId">
		insert into sys_order
		(
			`subject_id`, 
			`subject`, 
			`learn_user`, 
			`teacher_user`, 
			`grade`, 
			`start`, 
			`end`, 
			`address`, 
			`address_id`, 
			`address_x`, 
			`address_y`, 
			`price`, 
			`learn_time`, 
			`message`, 
			`evaluate`, 
			`type`, 
			`status`, 
			`addtime`, 
			`enable`
		)
		values
		(
			#{subjectId}, 
			#{subject}, 
			#{learnUser}, 
			#{teacherUser}, 
			#{grade}, 
			#{start}, 
			#{end}, 
			#{address}, 
			#{addressId}, 
			#{addressX}, 
			#{addressY}, 
			#{price}, 
			#{learnTime}, 
			#{message}, 
			#{evaluate}, 
			#{type}, 
			#{status}, 
			#{addtime}, 
			#{enable}
		)
	</insert>
	 
	<update id="update" parameterType="com.bootdo.system.domain.OrderDO">
		update sys_order 
		<set>
			<if test="subjectId != null">`subject_id` = #{subjectId}, </if>
			<if test="subject != null">`subject` = #{subject}, </if>
			<if test="learnUser != null">`learn_user` = #{learnUser}, </if>
			<if test="teacherUser != null">`teacher_user` = #{teacherUser}, </if>
			<if test="grade != null">`grade` = #{grade}, </if>
			<if test="start != null">`start` = #{start}, </if>
			<if test="end != null">`end` = #{end}, </if>
			<if test="address != null">`address` = #{address}, </if>
			<if test="addressId != null">`address_id` = #{addressId}, </if>
			<if test="addressX != null">`address_x` = #{addressX}, </if>
			<if test="addressY != null">`address_y` = #{addressY}, </if>
			<if test="price != null">`price` = #{price}, </if>
			<if test="learnTime != null">`learn_time` = #{learnTime}, </if>
			<if test="message != null">`message` = #{message}, </if>
			<if test="evaluate != null">`evaluate` = #{evaluate}, </if>
			<if test="type != null">`type` = #{type}, </if>
			<if test="status != null">`status` = #{status}, </if>
			<if test="addtime != null">`addtime` = #{addtime}, </if>
			<if test="enable != null">`enable` = #{enable}</if>
		</set>
		where order_id = #{orderId}
	</update>
	
	<delete id="remove">
		delete from sys_order where order_id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from sys_order where order_id in 
		<foreach item="orderId" collection="array" open="(" separator="," close=")">
			#{orderId}
		</foreach>
	</delete>

</mapper>